body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #3498db, #9b59b6);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 1em;
}

section {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2{
    color: #ffffff;
    font-size: 70px;
}

h3 {
    color: #ffffff;
    margin: 5px auto;
    font-size: 28px;
}

h1{
    color: #ffffff;
    font-size: 70px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


footer {
    background-color: #151654;
    color: #ecf0f1;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Align items horizontally */
}

footer ul li {
    margin: 0 50px; /* Add margin between list items */
}

